@{
    ViewBag.Title = "Configuración";
}
<h3> Configuración de consultorios</h3>
<br /><br />

<button class="btn btn-primary" id="agregar">Agregar Consultorio </button>

<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div id="mcontent" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="titulo" class="modal-title">Editar consultorio</h4>
            </div>
            <div class="modal-body">

                @*estado de consultorio*@
                <p>Estado del consultorio</p>
                <div>

                    <select id="estado" class="selectpicker" data-style="btn-default">
                        <option value="1">Activo</option>
                        <option value="0">Inactivo</option>

                    </select>
                </div>
                <br />

                @*nombre de consultorio*@
                <div class="cnombre">

                    <p>Nombre de Consultorio</p>
                    <input id="consultorio" type="text" class="form-control inputs" placeholder="nombre de consultorio" aria-describedby="basic-addon2">
                    <input id="id" type="hidden" />
                </div>
                <br />

                @*nombre de profesional*@
                <div class="nprofesional">

                    <p>Nombre del Profesional</p>

                    <select id="profSelector" data-live-search="true" class="selectpicker" data-style="btn-default"></select>
                </div>
                <br />
                @*identificador*@
                <p>Identificador</p>
                <input id="identificador" class="form-control inputs" type="number" placeholder="identificador" aria-describedby="basic-addon2">

            </div>



            @*botones*@
            <div class="modal-footer">
                <button id="deleteButton" type="button" class="btn btn-default fa fa-trash"></button>
                <button id="confirmDelete" type="button" class="btn btn-danger" data-dismiss="modal">BORRAR REGISTRO</button>
                <button id="saveButton" type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>

    </div>
</div>


<hr/>

@*datatable con consultorios*@
<table id="example" class="display" width="95%"></table>

@*modal de mensajes*@

<!-- Modal -->
<div class="modal fade bd-example-modal-sm" id="modalMensajes" role="dialog">
    <div class="modal-dialog modal-sm">

        <!-- Modal content-->
        <div id="modalMensajescontent" class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="modalMensajestitulo" class="modal-title">Agregar Mensaje</h4>
            </div>
            <div class="modal-body">

                @*texto del mensaje*@
                <div class="form-group">
                    <label for="textoMensaje">Texto del mensaje:</label>
                    <textarea class="form-control" rows="15" id="textoMensaje"></textarea>
                </div>

            </div>

            @*botones*@
            <div class="modal-footer">
                <button id="mdeleteButton" type="button" class="btn btn-default fa fa-trash"></button>
                <button id="mconfirmDelete" type="button" class="btn btn-danger" data-dismiss="modal">BORRAR REGISTRO</button>
                <button id="msaveButton" type="button" class="btn btn-success" data-dismiss="modal">Guardar</button>
            </div>
        </div>

    </div>
</div>
@*fin modal mensajes*@


<h3> Configuración de mensajes</h3>

<button class="btn btn-primary" id="agregarMensaje">Agregar mensaje </button>

<br />
<br />

@*datatable con mensajes*@
<table id="mensajes" class="display" width="95%"></table>
<br /><br />



<script>

    $(function () {

        var profesionales;
        var comboCargado = false;

        $("#confirmDelete").hide();
        //carga una sola vez todos los profesionales
        $.post("@Url.Action("GetProfesionalesJsonResult","Config")", {sistema: "@ViewContext.RouteData.Values["sistema"]",csId: @ViewContext.RouteData.Values["csId"]})
            .done(function(result) {

                profesionales = result;

            });

        var tipo;

        //lamentablemente el editor no va a interactuar directamente con los datos
        // en la funcion del botón guardar se modifican los datos para guardar después mediante un controlador

        //este sería el evento "editar" en el datatable que puede estar en el mismo onclick de las rows
        $("#agregar").click(function () {
            $("#titulo").text("Agregar consultorio");
            tipo = "agregar";
            crearModal("agregar");

        });



        //el close va a tener los eventos que guardan y las verificaciones
        $("#saveButton").click(function () {


            if (
                verificaConsultorio($("#consultorio"), $("#consultorio").val()) &&
                verificaIdentificador($("#identificador").val())
                ) {


                if (tipo === "agregar") {

                    $.ajax({
                        type: "POST",
                        data: {
                            sistema: "@ViewContext.RouteData.Values["sistema"]",
                            csId: @ViewContext.RouteData.Values["csId"],
                            EstadoConsultorio: $("#estado").val(),
                            ConsultorioNombre: $("#consultorio").val(),
                            ProfesionalID: $("#profSelector").val(),
                            ConsultorioNumero: $("#identificador").val()
                        },
                        url: "@Url.Action("SaveProfesionalesJsonResult", "Config")",
                        success: function(data) {

                            verificaGuardado(data);
                        },
                        error: function(e) {
                            event.stopPropagation();
                            alert("error al acceder al servidor");
                            //console.dir(data);
                        }

                    });

                    //eventos de edición
                } else {

                    $.ajax({
                        type: "POST",
                        data: {
                            sistema: "@ViewContext.RouteData.Values["sistema"]",
                            csId: @ViewContext.RouteData.Values["csId"],
                            EstadoConsultorio: $("#estado").val(),
                            ConsultorioNombre: $("#consultorio").val(),
                            ProfesionalID: $("#profSelector").val(),
                            ConsultorioNumero: $("#identificador").val(),
                            id: $("#id").val()
                        },
                            url: "@Url.Action("EditProfesionalesJsonResult", "Config")",
                        success: function(data) {
                            verificaGuardado(data);
                        },
                        error: function(e) {
                            event.stopPropagation();
                            alert("error al acceder al servidor");
                            //console.dir(data);
                        }

                    });

                }

            } else {

               event.stopPropagation();
            }


        });

        function verificaGuardado(datos) {

            //en caso de error al guardar
            if (datos == 'false' || typeof(datos) == 'undefined' || datos == '') {
                event.stopPropagation();
                alert("Error desconocido");
                //identificador activo repetido
            }else if (datos == "REPEATEDID") {
                event.stopPropagation();
                alert("Ya existe un identificador activo con el número " + $("#identificador").val());

                //todo bien
            } else {
                alert("Guardado correcto");
                location.reload();
            }
        }

        //aca se muestra el modal y se le agregan los datos
        function crearModal(editaoagrega) {

            //agrego los profesionales al dropdown y guardo el id en el val
            var options = $("#profSelector");

            cargarCombo();

            //cuando se agrega
            if (editaoagrega == "agregar") {

                $("#titulo").text("Agregar consultorio");

                //vacio los campos
                $("#id").val("");
                $("#consultorio").val("");
                $("#identificador").val("");
                $("#consultorio").removeClass("btn-danger");
                $("#deleteButton").hide();
                $("#confirmDelete").hide();

                //cuando se edita
            }else if (editaoagrega == "editar") {
                $("#titulo").text("Editar consultorio");
            }

            $('#myModal').modal({ show: true,backdrop: 'static', keyboard: false });

        }

        //configuración del lenguaje para datatable
        var languageConfig = {
            "sProcessing": "Procesando...",
            "sLengthMenu": "Mostrar _MENU_ registros",
            "sZeroRecords": "No se encontraron resultados",
            "sEmptyTable": "Ningún dato disponible en esta tabla",
            "sInfo": "Mostrando registros del _START_ al _END_,  de un total de _TOTAL_ registros",
            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
            "sInfoPostFix": "",
            "sSearch": "Buscar:",
            "sUrl": "",
            "sInfoThousands": ",",
            "sLoadingRecords": "Cargando...",
            "oPaginate": {
                "sFirst": "Primero",
                "sLast": "Último",
                "sNext": "Siguiente",
                "sPrevious": "Anterior"
            },
            "oAria": {
                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
            }
        };


        //llenado del datatable
        $.ajax({
            type: "POST",
            url: "@Url.Action("GetConfigConsultorioJsonResult","Config")",
            data:  {sistema: "@ViewContext.RouteData.Values["sistema"]",csId: @ViewContext.RouteData.Values["csId"] },
            //dataType: dataType,
            success: function(datax) {

                //console.dir(datax);

                var table = $('#example')
                    .DataTable({
                        "sPaginationType": "full_numbers",
                        dom: 'Bfrtip', // Needs button container
                        select: 'single',
                        data: datax,
                        responsive: true,
                        //configuración de lenguaje
                        language: languageConfig,
                        columns: [
                            { title: "ID", data: "id", visible: false},
                            { title: "Activo", data: "Activo" },
                            { title: "Consultorio", data: "ConsultorioNombre" },
                            { title: "Profesional", data: "Profesional" },
                            { title: "Identificador", data: "identificador" }
                        ]
                    });

                //edicion cuando se clickee el row
                $('#example tbody')
                    .on('click',
                        'tr',
                        function() {

                            tipo = "editar";

                            var data = table.row(this).data();

                            $("#titulo").text("Editar consultorio");

                            tipo = "editar";
                            cargarCombo();
                            //lleno con los datos
                            if (data.Activo == 1) {
                                $("#estado").selectpicker('val', 1);
                            } else {
                                $("#estado").selectpicker('val', 0);
                            }
                            $("#id").val(data.id);
                            $("#consultorio").val(data.ConsultorioNombre);
                            $("#identificador").val(data.identificador);
                            $("#consultorio").removeClass("btn-danger");
                            $("#profSelector").selectpicker('val', data.ProfesionalID);
                            $("#deleteButton").show();
                            $("#confirmDelete").hide();

                            $('#myModal').modal({ show: true, backdrop: 'static', keyboard: false });
                        });
            }
        });

        function verificaIdentificador(value) {

            if ($("#identificador").val() != "") {
                return true;
            } else {
                $("#identificador").addClass("btn-danger");
                return false;
            }
        }

        function verificaConsultorio(selector, value) {

            if (value != "") {
                return true;
            } else {
                selector.addClass("btn-danger");
                return false;
            }

        }

        function cargarCombo() {

            if (!comboCargado) {
                for (var index in profesionales) {

                    $("#profSelector")
                        .append("<option value=" +
                            profesionales[index].ProfesionalID +
                            "> " +
                            profesionales[index].Profesional +
                            " </option>");

                }
            }

            comboCargado = true;
            $('#profSelector').selectpicker('refresh');

        }

        $("#confirmDelete").click(function() {

                $.ajax({
                    type: "POST",
                    data: {
                        sistema: "@ViewContext.RouteData.Values["sistema"]",
                        csId: @ViewContext.RouteData.Values["csId"],
                        id : $("#id").val(),
                        EstadoConsultorio: $("#estado").val(),
                        ConsultorioNombre: $("#consultorio").val(),
                        ProfesionalID: $("#profSelector").val(),
                        ConsultorioNumero: $("#identificador").val(),
                        
                    },
                    url: "@Url.Action("DelProfesionalesJsonResult", "Config")",
                    success: function(data) {
                        alert("El registro se borró correctamente");
                        location.reload();
                    },
                    error: function(e) {
                        event.stopPropagation();
                        alert("error al acceder al servidor");

                    }

                });

            $("#deleteButton").show();
            $("#confirmDelete").hide();
        });

        $("#deleteButton")
            .click(function() {



                $("#deleteButton").hide();
                $("#confirmDelete").show();
            });


        //---------------------------------------------------Datatable de mensajes

        var mtipo = "agregar";

        $("#agregarMensaje").click(function() {

            mtipo = "agregar";
            $("#textoMensaje").val("");
            $("#modalMensajestitulo").text("Agregar mensaje");
            $("#mdeleteButton").hide();
            $("#mconfirmDelete").hide();
            $('#modalMensajes').modal({ show: true,backdrop: 'static', keyboard: false });
        });

        var idMensaje;


        $.ajax({
            type: "POST",
            url: "@Url.Action("GetMensajeJsonResult", "Config")",
            data: {
                sistema: "@ViewContext.RouteData.Values["sistema"]",
                csId: @ViewContext.RouteData.Values["csId"]
                },
            success: function(data) {
                //console.dir(data);

                var table = $('#mensajes')
                   .DataTable({
                       "sPaginationType": "full_numbers",
                       dom: 'Bfrtip', // Needs button container
                       select: 'single',
                       data: data,
                       responsive: true,
                       //configuración de lenguaje
                       language: languageConfig,
                       columns: [
                           { title: "id", data: "id", visible: false },
                           //{ title: "Estado", data: "ConsultorioNombre" },
                           { title: "Mensaje", data: "mensaje" }
                       ]
                   });

                //edicion cuando se clickee el row
                $('#mensajes tbody')
                    .on('click',
                        'tr',
                        function() {

                            mtipo = "editar";

                            var rowData = table.row(this).data();

                            idMensaje = rowData.id;

                            $("#modalMensajestitulo").text("Editar mensaje");

                            //console.dir(rowData)

                            //lleno con los datos CAMBIAR POR DATOS DE LO QUE TRAIGAN LOS MENSAJES
                            //if (data.Activo == 1) {
                            //    $("#estado").selectpicker('val', 1);
                            //} else {
                            //    $("#estado").selectpicker('val', 0);
                            //}
                            //$("#consultorio").val(data.ConsultorioNombre);
                            //$("#identificador").val(data.identificador);
                            //$("#consultorio").removeClass("btn-danger");
                            //$("#profSelector").selectpicker('val', data.ProfesionalID);


                            //muestra el modal
                            $("#mdeleteButton").show();
                            $("#mconfirmDelete").hide();
                            $('#modalMensajes').modal({ show: true,backdrop: 'static', keyboard: false });

                            //cargo el modal
                            $("#textoMensaje").val(rowData.mensaje);
                        });

            },
            error: function(e) {
                event.stopPropagation();
                alert("error al acceder al servidor");

            }

        });
        //fin ajax

        //abre el boton de confirmar borrar mensaje
        $("#mdeleteButton")
            .click(function() {

                $("#mdeleteButton").hide();
                $("#mconfirmDelete").show();
            });

        //guarda el mensaje
        $("#msaveButton")
            .click(function() {

                //en caso de agregar
                if (mtipo == "agregar") {

                    $.ajax({
                        type: "POST",
                        data: {
                            sistema: "@ViewContext.RouteData.Values["sistema"]",
                            csId: @ViewContext.RouteData.Values["csId"],
                            mensaje: $("#textoMensaje").val()
                        },
                        url: "@Url.Action("SaveMesajesJsonResult", "Config")",
                        success: function() {
                            alert("Datos guardados correctamente");
                            location.reload();
                        },
                        error: function(e) {
                            event.stopPropagation();
                            alert("error al acceder al servidor");

                        }

                    });


                //en caso de editar
                }else {

                    $.ajax({
                        type: "POST",
                        data: {
                            sistema: "@ViewContext.RouteData.Values["sistema"]",
                            csId: @ViewContext.RouteData.Values["csId"],
                            mensaje: $("#textoMensaje").val(),
                            idMensaje: idMensaje
                        },
                            url: "@Url.Action("EditMensajeJsonResult", "Config")",
                        success: function() {
                            alert("Datos guardados correctamente");
                            location.reload();
                        },
                        error: function(e) {
                            event.stopPropagation();
                            alert("error al acceder al servidor");

                        }

                    });

                }
            });

        //borrar mensaje
        $("#mconfirmDelete").click(function() {
            
            $.ajax({
                type: "POST",
                data: {
                    sistema: "@ViewContext.RouteData.Values["sistema"]",
                    csId: @ViewContext.RouteData.Values["csId"],
                    idMensaje: idMensaje
                },
                    url: "@Url.Action("DelMensajesJsonResult", "Config")",
                    success: function() {
                        alert("Registro borrado correctamente");
                        location.reload();
                    },
                    error: function(e) {
                        event.stopPropagation();
                        alert("error al acceder al servidor");

                    }

            });
        });


    });


</script>